{% extends 'main.html' %}
{% block content %}
{% load latexify %}
{% include 'latexify/stylesheets.html' %}
{% include "latexify/scripts.html" %}
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width,initial-scale=1.0">

<script src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>
<script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex_mml-chtml.js"></script>
<script type="text/javascript" async src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.4/MathJax.js?config=Tex-MML-AM_CHTML"></script>



{% for expr in expressions %}
    <div class = "latex">
        <p><span class="math display">$${{expr.expression|safe}}$$</span></p>
        <p>$$x=\frac{-b+\sqrt{b^2-4ac}}{2a}$$</p>
    </div>
{% endfor %}

{% latexify context_arg %}
{% latexify context_arg parse_math=True %}
{% latexify 'c = \pm\sqrt{a^2 + b^2}' math_inline=True %}
{% latexify 'c = \pm\sqrt{a^2 + b^2}' math_block=True %}



{% endblock %}